<div class="landing">
  <div class="container text-center">
    <img src="assets/img/avataaars.svg" class="mb-4" />
    <h1 class="text-white mb-4">Start Angular</h1>
    <div class="stars d-flex justify-content-center align-items-center">
      <div class="left"></div>
      <div class="star">
        <i class="fa-solid fa-star"></i>
      </div>
      <div class="right"></div>
    </div>
    <p class="text-white pt-4 fs-3">
      FrontEnd - Web Developer - Software Engineer
    </p>
  </div>
</div>
