<div class="landing">
  <div class="container">
    <h1 class="text-uppercase mb-3 text-center">Contact Me</h1>
    <div class="stars d-flex justify-content-center align-items-center mb-5">
      <div class="left"></div>
      <div class="star">
        <i class="fa-solid fa-star"></i>
      </div>
      <div class="right"></div>
    </div>
    <div class="row m-auto d-flex align-items-center gap-5 w-75">
      <input
        type="text"
        class="form-control border-2 border-bottom border-0 p-3 fs-3"
        placeholder="Name"
      />
      <input
        type="email"
        class="form-control border-2 border-bottom border-0 p-3 fs-3"
        placeholder="Email"
      />
      <input
        type="text"
        class="form-control border-2 border-bottom border-0 p-3 fs-3"
        placeholder="Phone Number"
      />
      <textarea
        class="form-control border-2 border-bottom border-0 p-3 fs-3"
        rows="5"
        placeholder="Message"
      ></textarea>
      <button>Send</button>
    </div>
  </div>
</div>
