<div class="footer py-5">
  <div class="container">
    <div class="row d-flex justify-content-center g-5">
      <div class="col-md-6 col-lg-4 text-center">
        <h2 class="mb-4">Location</h2>
        <h4>2215 John Daniel Drive Clark, MO 65243</h4>
      </div>
      <div class="col-md-6 col-lg-4 text-center">
        <h2 class="mb-4">Around The Web</h2>
        <div class="social d-flex justify-content-center gap-3">
          <a><i class="fa-brands fa-facebook-f"></i></a>
          <a><i class="fa-brands fa-instagram"></i></a>
          <a><i class="fa-brands fa-twitter"></i></a>
          <a><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 text-center">
        <h2 class="mb-4">About Freelancer</h2>
        <h4>
          Freelance is a free to use, MIT licensed Bootstrap theme created by .
        </h4>
      </div>
    </div>
  </div>
</div>

<p class = 'copyright py-4 m-0'>Copyright &copy; Website 2024</p>
