<div class="landing">
  <div class="container text-center">
    <h1 class="text-uppercase mb-3">Portfolio</h1>
    <div class="stars d-flex justify-content-center align-items-center mb-5">
      <div class="left"></div>
      <div class="star">
        <i class="fa-solid fa-star"></i>
      </div>
      <div class="right"></div>
    </div>
    <div class="row g-5">
      <div class="col-md-4">
        <div class="img">
          <img src="assets/img/portfolio1.png" alt="" class="img-fluid" />
          <span>+</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img">
          <img src="/assets/img/portfolio2.png" alt="" class="img-fluid" />
          <span>+</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img">
          <img src="/assets/img/portfolio3.png" alt="" class="img-fluid" />
          <span>+</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img">
          <img src="/assets/img/portfolio4.png" alt="" class="img-fluid" />
          <span>+</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img">
          <img src="/assets/img/portfolio5.png" alt="" class="img-fluid" />
          <span>+</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img">
          <img src="/assets/img/portfolio6.png" alt="" class="img-fluid" />
          <span>+</span>
        </div>
      </div>
    </div>
  </div>
</div>
